<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="ColoredConsole"
        name="MinecraftColor"
        encoding="utf-8"
        layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] [${threadname}/${level:uppercase=true}]: ${message}">
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="MinecraftColor" />
  </rules>
</nlog>